@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$family-monospace: 'Roboto Mono', monospace;
$family-primary: $family-monospace;

// Custom color overrides
$main: #14171e;
$main-invert: findColorInvert($main);

$purple: #c9add7;
$purple-invert: findColorInvert($purple);

$primary: $purple;
$primary-invert: $purple-invert;

$navbar-burger-color: $main;
$navbar-background-color: $main;
$navbar-item-color: $purple;
$navbar-item-hover-background-color: $purple;
$navbar-item-hover-color: $purple;

$card-background-color: $main;
$card-color: white;
$card-header-color: white;
$card-shadow: 0 0.1em 0.5em -0.125em rgba($purple, 0), 0 0px 0 1.25px rgba($purple, 1);

$footer-background-color: $main;
$footer-color: white;
$footer-padding: 1rem 0rem 1rem;

// Add new color variables to the color map.
@import 'bulma/sass/utilities/derived-variables';
$addColors: (
  'main': (
    $main,
    $main-invert,
  ),
  'purple': (
    $purple,
    $purple-invert,
  ),
);
$colors: map-merge($colors, $addColors);

.blog-container {
  padding: 25px;
}

html,
body,
#root,
.App {
  height: fit-content !important;
  min-height: 100vh !important;
}

.App {
  background-image: linear-gradient($main 15%, #70637c 100%, $purple 150%);
  height: 100vh;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
}
.homeview,
.projects-view {
  padding-left: 55px;
  padding-right: 55px;
  height: stretch;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
  margin: 0;
  padding-bottom: 0;
}

.card-container {
  max-width: 900px;
  padding: 10px;
}

.title {
  color: white;
  cursor: default;
}
.card-content {
  font-size: small;
}

.card-column {
  justify-content: center;
}
.hero {
  justify-content: center !important;
}
.prevBtn {
  margin-right: 10px;
}
.next-container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

.blog-body {
  color: white;
}

.subtitle {
  color: $purple;
}

.vertical-timeline-element-custom:hover {
  color: $main !important;
  background: $purple !important;
}

// disbale onclick for date span
.vertical-timeline-element-date {
  pointer-events: none !important;
  cursor: default !important;
}

.vertical-timeline-custom:before {
  top: unset !important;
  height: 95% !important;
  border-radius: 25px;
}

.vertical-timeline-element-title {
  font-size: x-large !important;
}

* {
  margin: 0;
  padding: 0;
}

//@import "~bulma/bulma";
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/components/navbar.sass';
@import 'node_modules/bulma/sass/components/card.sass';
@import 'node_modules/bulma/sass/elements/container.sass';
@import 'node_modules/bulma/sass/elements/button.sass';
@import 'node_modules/bulma/sass/layout/footer.sass';
